@tailwind base;
@tailwind components;
@tailwind utilities;

.two-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.two-lines{
    -webkit-line-clamp: 2;
}